<h5>Data Nilai Gain</h5>
<table id="tblPemahaman" class="table table-bordered table-hover table-striped" style="width: 100%; font-size: smaller">
  <thead style="border-top: 1px solid #d0d0d0">
    <tr>
      <th>#</th>
      <th>Kriteria</th>
      <th>Gain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Penyampaian Materi</td>
      <td>{{ dGain[0] }}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Media Pembelajaran</td>
        <td>{{ dGain[1] }}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Suasana Belajar</td>
        <td>{{ dGain[2] }}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Tugas</td>
        <td>{{ dGain[3] }}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Kehadiran</td>
        <td>{{ dGain[4] }}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Praktikum</td>
        <td>{{ dGain[5] }}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>UTS</td>
        <td>{{ dGain[6] }}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>UAS</td>
        <td>{{ dGain[7] }}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Matematika</td>
        <td>{{ dGain[8] }}</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Bahasa Indonesia</td>
        <td>{{ dGain[9] }}</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Bahasa Inggris</td>
        <td>{{ dGain[10] }}</td>
      </tr>
  </tbody>
</table>
<hr />