<h5>Pemahaman</h5>
<table id="tblPemahaman" class="table table-bordered table-hover table-striped" style="width: 100%; font-size: smaller">
  <thead style="border-top: 1px solid #d0d0d0">
    <tr>
      <th>#</th>
      <th>Tinggi</th>
      <th>Rendah</th>
      <th>Total</th>
      <th>Entropy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>{{ dp.tinggi }}</td>
      <td>{{ dp.rendah }}</td>
      <td>{{ dp.total }}</td>
      <td>{{ dp.entropy }}</td>
    </tr>
  </tbody>
</table>
<hr />